* {
    background:     #000000;
    background-t-one:     #000000a0;
    background-t-two:     #050505a0;
    background-alt: #000000a0;
    foreground:     #f0f0f0;
    selected:       #f0f0f0a0;
    active:         #CCEABBa0;
    urgent:         #FDCB9Ea0;
}
